@model Samana.ViewModels.LedenViewModel
<div>
    @Html.ActionLink("Terug naar ledenlijst", "Index")
</div>
@using (Html.BeginForm("Create", "Leden", FormMethod.Post, new { @class = "form-style-1" }))
{    
    @Html.Partial("~/Views/Partials/LidForm.cshtml",Model);
}