body {
}


/*General input styling*/
input{
    width:auto;
    border:1px solid #CCC;
}

input[type=button], input[type=submit], button{
    border:1px solid #CCC;
    background: rgba(255,255,255,1);
    width: 100%;
    max-width:100%;
    padding:5px 5px 5px 0;
}

input:hover, button:hover{
    background: rgba(240,240,240,1);
    transition: background 0.3s;
}


/*End General input styling*/




#ledendiv {
    margin: 50px 0px 0px 0px;
    padding: 10px;
    height: 500px;
    overflow-y: scroll;
    border: 1px solid #CCC;
}

    #ledendiv table {
        border-collapse: separate;
        border-spacing: 0 10px;
    }

        #ledendiv table tr {
            border: 1px solid #000;
            background-color: rgba(252,252,252,1);
            box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
        }

        #ledendiv table td {
            vertical-align: top;
            padding-top: 10px;
            padding-left: 15px;
            padding-bottom: 10px;
            border-top: 1px solid #CCC;
            border-bottom: 1px solid #CCC;
        }

            #ledendiv table td:first-child {
                border-left: 1px solid #CCC;
            }

            #ledendiv table td:last-child {
                padding-right: 10px;
                border-right: 1px solid #CCC;
            }

    #ledendiv ul {
        display: block;
        margin: 0;
        padding: 0;
    }

        #ledendiv ul li {
            list-style: none;
        }






.form-style-1 {
    max-width: 300px;
    margin: 50px auto;
    background: #fff;
    border-radius: 2px;
    padding: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

    .form-style-1 h1 {
        display: block;
        text-align: center;
        padding: 0;
        margin: 0px 0px 20px 0px;
        color: #5C5C5C;
        font-size: x-large;
    }

    .form-style-1 ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .form-style-1 li {
        display: block;
        padding: 9px;
        border: 1px solid #DDDDDD;
        margin-bottom: 20px;
        border-radius: 3px;
    }

        .form-style-1 li:last-child {
            border: none;
            margin-bottom: 0px;
            text-align: center;
        }

        .form-style-1 li > label {
            display: block;
            float: left;
            margin-top: -22px;
            background: #FFFFFF;
            height: 20px;
            padding: 2px 5px 2px 5px;
            color: #B9B9B9;
            font-size: 14px;
            overflow: hidden;
            font-family: Arial, Helvetica, sans-serif;
        }

    .form-style-1 input[type="text"],
    .form-style-1 input[type="date"],
    .form-style-1 input[type="datetime"],
    .form-style-1 input[type="email"],
    .form-style-1 input[type="number"],
    .form-style-1 input[type="search"],
    .form-style-1 input[type="time"],
    .form-style-1 input[type="url"],
    .form-style-1 input[type="password"],
    .form-style-1 textarea,
    .form-style-1 select {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 3px 0px 3px 0px;
        width: 100%;
        display: block;
        outline: none;
        border: none;
        height: 25px;
        line-height: 25px;
        font-size: 16px;
        padding: 0;
        font-family: Georgia, "Times New Roman", Times, serif;
    }

        .form-style-1 input[type="text"]:focus,
        .form-style-1 input[type="date"]:focus,
        .form-style-1 input[type="datetime"]:focus,
        .form-style-1 input[type="email"]:focus,
        .form-style-1 input[type="number"]:focus,
        .form-style-1 input[type="search"]:focus,
        .form-style-1 input[type="time"]:focus,
        .form-style-1 input[type="url"]:focus,
        .form-style-1 input[type="password"]:focus,
        .form-style-1 textarea:focus,
        .form-style-1 select:focus {
        }

    .form-style-1 li > span {
        background: #F3F3F3;
        display: block;
        padding: 3px;
        margin: 0 -9px -9px -9px;
        text-align: center;
        color: #f80e0e;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    .form-style-1 textarea {
        resize: none;
    }

    .form-style-1 input[type="submit"],
    .form-style-1 input[type="button"] {
        background: #2471FF;
        border: none;
        padding: 10px 20px 10px 20px;
        border-bottom: 3px solid #5994FF;
        border-radius: 3px;
        color: #D2E2FF;
    }

        .form-style-1 input[type="submit"]:hover,
        .form-style-1 input[type="button"]:hover {
            background: #6B9FFF;
            color: #fff;
        }



.user-btn-transparant {
    width: auto;
    height: 24px;
    text-align:center;
    vertical-align:middle;
    margin:0;
    margin-left: 5px;
    padding:0 5px 0 5px;
    background-color: transparent;
    border:1px solid #DDD;
    overflow: hidden;
    outline: none;
}

    .user-btn-transparant:hover {
        border-color: #ccc;
        background-color: #EEE;
    }
